.cause {
    display: flex;
    align-items: center;
}

.cause h1 {
    position: relative;
    margin-left: 20px;
    margin-right: -130px;
    color: whitesmoke;
    font-size: 30px;
    font-weight: 500;
    width: 11ch;
}

.coverimage {
    width: 220px;
    height: 140px;
    border-radius: 3.5px;
    margin: 15px 0px;
    opacity: 100%;
    background-size: cover;
}