.cause {
    display: flex;
    align-items: center;
}

.cause h1 {
    position: relative;
    margin-left: 20px;
    margin-right: -160px;
    color: whitesmoke;
    font-size: 34px;
    font-weight: 600;
    width: 12ch;
}

.coverimage {
    width: 260px;
    height: 160px;
    border-radius: 3.5px;
    margin: 15px 0px;
    opacity: 100%;
    background-size: cover;
}